openapi: "3.0.3"

info:
  title: Tallyoh API
  version: "1.0.0"
  description: API de finanças pessoais

servers:
  - url: https://tallyoh.nilbyte.com.br
    description: Produção
  - url: http://localhost:3300
    description: Desenvolvimento

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        avatarUrl: { type: string }
        privacyModeEnabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string, enum: [INCOME, EXPENSE] }
        description: { type: string }
        color: { type: string, example: "#FF5733" }
        parentId: { type: string, format: uuid, nullable: true }
        children:
          type: array
          items: { $ref: '#/components/schemas/Category' }

    CategoryCreate:
      type: object
      required: [name, type]
      properties:
        name: { type: string }
        type: { type: string, enum: [INCOME, EXPENSE] }
        description: { type: string }
        color: { type: string, example: "#FF5733" }
        parentId: { type: string, format: uuid, nullable: true }

    Transaction:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        categoryId: { type: string, format: uuid, nullable: true }
        budgetId: { type: string, format: uuid, nullable: true }
        type: { type: string, enum: [INCOME, EXPENSE] }
        kind: { type: string, enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET] }
        status: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        amount: { type: number, format: float }
        date: { type: string, format: date-time }
        description: { type: string }
        notes: { type: string, nullable: true }
        currencyCode: { type: string, example: BRL }
        category:
          type: object
          nullable: true
          properties:
            name: { type: string }
            color: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TransactionCreate:
      type: object
      required: [type, amount, date]
      properties:
        categoryId: { type: string, format: uuid, nullable: true }
        budgetId: { type: string, format: uuid, nullable: true }
        type: { type: string, enum: [INCOME, EXPENSE] }
        kind:
          type: string
          enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET]
          description: |
            Padrão derivado do type se omitido.
            INCOME só aceita kind INCOME.
            EXPENSE aceita EXPENSE, SAVING, CREDIT ou BUDGET.
        status: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        amount: { type: number, format: float }
        date: { type: string, format: date, example: "2026-05-01" }
        description: { type: string }
        notes: { type: string }
        currencyCode: { type: string, example: BRL }

    Budget:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        name: { type: string }
        allocatedAmount: { type: number, format: float }
        spent: { type: number, format: float }
        remaining: { type: number, format: float }
        progress: { type: number, format: float, description: "0–100" }
        notes: { type: string, nullable: true }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    BudgetCreate:
      type: object
      required: [name, allocatedAmount]
      properties:
        name: { type: string }
        allocatedAmount: { type: number, format: float }
        notes: { type: string }

paths:
  /api/health:
    get:
      summary: Health check
      tags: [Health]
      security: []
      responses:
        '200':
          description: Serviço saudável

  /api/auth/register:
    post:
      summary: Registrar usuário
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                name: { type: string }
      responses:
        '201':
          description: Usuário criado

  /api/auth/login:
    post:
      summary: Login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Autenticado

  /api/auth/logout:
    post:
      summary: Logout
      tags: [Auth]
      responses:
        '204':
          description: Sessão encerrada

  /api/users/me:
    get:
      summary: Usuário atual
      tags: [Users]
      responses:
        '200':
          description: Perfil do usuário
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Atualizar usuário atual
      tags: [Users]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                avatarUrl: { type: string }
                privacyModeEnabled: { type: boolean }
      responses:
        '200':
          description: Atualizado

  /api/v1/settings/profile:
    get:
      summary: Buscar perfil
      tags: [Settings]
      responses:
        '200':
          description: Dados do perfil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Atualizar perfil
      tags: [Settings]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                avatarUrl: { type: string }
                privacyModeEnabled: { type: boolean }
      responses:
        '200':
          description: Perfil atualizado

  /api/v1/settings/change-password:
    patch:
      summary: Alterar senha
      tags: [Settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string }
                newPassword: { type: string, minLength: 12 }
      responses:
        '204':
          description: Senha alterada

  /api/v1/settings/account:
    delete:
      summary: Deletar conta
      tags: [Settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword]
              properties:
                currentPassword: { type: string }
      responses:
        '204':
          description: Conta deletada

  /api/v1/categories:
    get:
      summary: Listar categorias
      tags: [Categories]
      responses:
        '200':
          description: Lista de categorias (com filhos agrupados)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
    post:
      summary: Criar categoria
      tags: [Categories]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategoryCreate' }
      responses:
        '201':
          description: Categoria criada

  /api/v1/categories/{categoryId}:
    parameters:
      - name: categoryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Buscar categoria
      tags: [Categories]
      responses:
        '200':
          description: Categoria
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Category' }
    patch:
      summary: Atualizar categoria
      tags: [Categories]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategoryCreate' }
      responses:
        '200':
          description: Atualizada
    delete:
      summary: Deletar categoria
      tags: [Categories]
      responses:
        '204':
          description: Deletada

  /api/v1/transactions:
    get:
      summary: Listar transações
      tags: [Transactions]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: type
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE] }
        - name: kind
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET] }
        - name: status
          in: query
          schema: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        - name: categoryId
          in: query
          schema: { type: string, format: uuid }
        - name: budgetId
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date, example: "2026-01-01" }
        - name: to
          in: query
          schema: { type: string, format: date, example: "2026-12-31" }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Lista de transações
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Transaction' }
    post:
      summary: Criar transação
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransactionCreate' }
      responses:
        '201':
          description: Transação criada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }

  /api/v1/transactions/future:
    get:
      summary: Listar transações futuras ou pendentes
      tags: [Transactions]
      responses:
        '200':
          description: Transações futuras ou com status PENDING
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Transaction' }

  /api/v1/transactions/{transactionId}:
    parameters:
      - name: transactionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Buscar transação
      tags: [Transactions]
      responses:
        '200':
          description: Transação
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
    patch:
      summary: Atualizar transação
      tags: [Transactions]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransactionCreate' }
      responses:
        '200':
          description: Atualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
    delete:
      summary: Deletar transação
      tags: [Transactions]
      responses:
        '204':
          description: Deletada

  /api/v1/budgets:
    get:
      summary: Listar orçamentos
      tags: [Budgets]
      responses:
        '200':
          description: Lista de orçamentos com gasto acumulado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Budget' }
    post:
      summary: Criar orçamento
      tags: [Budgets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BudgetCreate' }
      responses:
        '201':
          description: Orçamento criado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }

  /api/v1/budgets/{budgetId}:
    parameters:
      - name: budgetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      summary: Atualizar orçamento
      tags: [Budgets]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BudgetCreate' }
      responses:
        '200':
          description: Atualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }
    delete:
      summary: Deletar orçamento
      tags: [Budgets]
      responses:
        '204':
          description: Deletado

  /api/v1/dashboard:
    get:
      summary: Dashboard do mês
      tags: [Dashboard]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: "2026-05" }
      responses:
        '200':
          description: Resumo do mês (saldo, receita, despesa, transações recentes)

  /api/v1/dashboard/monthly-evolution:
    get:
      summary: Evolução mensal (últimos 6 meses)
      tags: [Dashboard]
      responses:
        '200':
          description: Evolução mensal de receitas e despesas

  /api/v1/dashboard/category-breakdown:
    get:
      summary: Breakdown por categoria
      tags: [Dashboard]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: "2026-05" }
        - name: type
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE] }
      responses:
        '200':
          description: Totais por categoria no mês

  /api/v1/analytics/annual-evolution:
    get:
      summary: Evolução anual (12 meses)
      tags: [Analytics]
      parameters:
        - name: year
          in: query
          schema: { type: integer, example: 2026 }
      responses:
        '200':
          description: Dados de evolução anual por mês
