openapi: "3.0.3"

info:
  title: Somma API
  version: "1.0.0"
  description: Personal finance API

servers:
  - url: https://somma.nilbyte.com.br
    description: Production
  - url: http://localhost:3300
    description: Development

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        name: { type: string }
        avatarUrl: { type: string }
        privacyModeEnabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string, enum: [INCOME, EXPENSE] }
        description: { type: string }
        color: { type: string, example: "#FF5733" }
        parentId: { type: string, format: uuid, nullable: true }
        children:
          type: array
          items: { $ref: '#/components/schemas/Category' }

    CategoryCreate:
      type: object
      required: [name, type]
      properties:
        name: { type: string }
        type: { type: string, enum: [INCOME, EXPENSE] }
        description: { type: string }
        color: { type: string, example: "#FF5733" }
        parentId: { type: string, format: uuid, nullable: true }

    Transaction:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        categoryId: { type: string, format: uuid, nullable: true }
        budgetId: { type: string, format: uuid, nullable: true }
        type: { type: string, enum: [INCOME, EXPENSE] }
        kind: { type: string, enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET] }
        status: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        amount: { type: number, format: float }
        date: { type: string, format: date-time }
        description: { type: string }
        notes: { type: string, nullable: true }
        currencyCode: { type: string, example: BRL }
        category:
          type: object
          nullable: true
          properties:
            name: { type: string }
            color: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    TransactionCreate:
      type: object
      required: [type, amount, date]
      properties:
        categoryId: { type: string, format: uuid, nullable: true }
        budgetId: { type: string, format: uuid, nullable: true }
        type: { type: string, enum: [INCOME, EXPENSE] }
        kind:
          type: string
          enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET]
          description: |
            Default derived from type if omitted.
            INCOME only accepts kind INCOME.
            EXPENSE accepts EXPENSE, SAVING, CREDIT or BUDGET.
        status: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        amount: { type: number, format: float }
        date: { type: string, format: date, example: "2026-05-01" }
        description: { type: string }
        notes: { type: string }
        currencyCode: { type: string, example: BRL }

    Budget:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        name: { type: string }
        allocatedAmount: { type: number, format: float }
        spent: { type: number, format: float }
        remaining: { type: number, format: float }
        progress: { type: number, format: float, description: "0–100" }
        notes: { type: string, nullable: true }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    BudgetCreate:
      type: object
      required: [name, allocatedAmount]
      properties:
        name: { type: string }
        allocatedAmount: { type: number, format: float }
        notes: { type: string }

paths:
  /api/health:
    get:
      summary: Health check
      tags: [Health]
      security: []
      responses:
        '200':
          description: Healthy service

  /api/auth/register:
    post:
      summary: Register user
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                name: { type: string }
      responses:
        '201':
          description: User created

  /api/auth/login:
    post:
      summary: Login
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated

  /api/auth/logout:
    post:
      summary: Logout
      tags: [Auth]
      responses:
        '204':
          description: Session terminated

  /api/users/me:
    get:
      summary: Current user
      tags: [Users]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Update current user
      tags: [Users]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                avatarUrl: { type: string }
                privacyModeEnabled: { type: boolean }
      responses:
        '200':
          description: Updated

  /api/v1/settings/profile:
    get:
      summary: Fetch profile
      tags: [Settings]
      responses:
        '200':
          description: Profile data
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      summary: Update profile
      tags: [Settings]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                avatarUrl: { type: string }
                privacyModeEnabled: { type: boolean }
      responses:
        '200':
          description: Profile updated

  /api/v1/settings/change-password:
    patch:
      summary: Change password
      tags: [Settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string }
                newPassword: { type: string, minLength: 12 }
      responses:
        '204':
          description: Password changed

  /api/v1/settings/account:
    delete:
      summary: Delete account
      tags: [Settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword]
              properties:
                currentPassword: { type: string }
      responses:
        '204':
          description: Account deleted

  /api/v1/categories:
    get:
      summary: List categories
      tags: [Categories]
      responses:
        '200':
          description: Category list (with grouped children)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
    post:
      summary: Create category
      tags: [Categories]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategoryCreate' }
      responses:
        '201':
          description: Category created

  /api/v1/categories/{categoryId}:
    parameters:
      - name: categoryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get category
      tags: [Categories]
      responses:
        '200':
          description: Category
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Category' }
    patch:
      summary: Update category
      tags: [Categories]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CategoryCreate' }
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete category
      tags: [Categories]
      responses:
        '204':
          description: Deleted

  /api/v1/transactions:
    get:
      summary: List transactions
      tags: [Transactions]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: type
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE] }
        - name: kind
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE, SAVING, CREDIT, BUDGET] }
        - name: status
          in: query
          schema: { type: string, enum: [COMPLETED, PENDING, CANCELED] }
        - name: categoryId
          in: query
          schema: { type: string, format: uuid }
        - name: budgetId
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date, example: "2026-01-01" }
        - name: to
          in: query
          schema: { type: string, format: date, example: "2026-12-31" }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Transaction' }
    post:
      summary: Create transaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransactionCreate' }
      responses:
        '201':
          description: Transaction created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }

  /api/v1/transactions/future:
    get:
      summary: List future or pending transactions
      tags: [Transactions]
      responses:
        '200':
          description: Future transactions or transactions with status PENDING
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Transaction' }

  /api/v1/transactions/{transactionId}:
    parameters:
      - name: transactionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      summary: Get transaction
      tags: [Transactions]
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
    patch:
      summary: Update transaction
      tags: [Transactions]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransactionCreate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
    delete:
      summary: Delete transaction
      tags: [Transactions]
      responses:
        '204':
          description: Deleted

  /api/v1/budgets:
    get:
      summary: List budgets
      tags: [Budgets]
      responses:
        '200':
          description: Budget list with accumulated spending
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Budget' }
    post:
      summary: Create budget
      tags: [Budgets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BudgetCreate' }
      responses:
        '201':
          description: Budget created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }

  /api/v1/budgets/{budgetId}:
    parameters:
      - name: budgetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      summary: Update budget
      tags: [Budgets]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BudgetCreate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }
    delete:
      summary: Delete budget
      tags: [Budgets]
      responses:
        '204':
          description: Deleted

  /api/v1/dashboard:
    get:
      summary: Monthly dashboard
      tags: [Dashboard]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: "2026-05" }
      responses:
        '200':
          description: Monthly summary (balance, income, expense, recent transactions)

  /api/v1/dashboard/monthly-evolution:
    get:
      summary: Monthly evolution (last 6 months)
      tags: [Dashboard]
      responses:
        '200':
          description: Monthly evolution of income and expenses

  /api/v1/dashboard/category-breakdown:
    get:
      summary: Category breakdown
      tags: [Dashboard]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: "2026-05" }
        - name: type
          in: query
          schema: { type: string, enum: [INCOME, EXPENSE] }
      responses:
        '200':
          description: Category totals for the month

  /api/v1/analytics/annual-evolution:
    get:
      summary: Annual evolution (12 months)
      tags: [Analytics]
      parameters:
        - name: year
          in: query
          schema: { type: integer, example: 2026 }
      responses:
        '200':
          description: Annual evolution data per month
